<ion-header>
    <ion-navbar color="topbar">
      <ion-title *ngFor="let product of productDetails">{{product.title}}</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="closeModal()"> <ion-icon name='close'></ion-icon> </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content>
    <ion-card class="topcard" *ngFor="let product of productDetails">
      <img class="img1" [src]="product.featured_src"/>
      <p class="itemName">{{product.title}}</p>
      <p class="itemNo">item NO: JWESR1245456</p>
      <p class="itemDesc" [innerHTML]="product.description"></p>
      <ion-chip>
          <ion-label color="primary">{{product.categories}}</ion-label>
      </ion-chip>
      <p class="itemPrice" [innerHTML]="product.price_html"></p>
      <!-- <h4>Categories:</h4> -->

      <!-- <ion-list>
          <ion-item>
            <ion-label>Type</ion-label>
            <ion-select [(ngModel)]="gaming">
              <ion-option value="nes">Full</ion-option>
              <ion-option value="n64">Half</ion-option>
              <ion-option value="ps">Quarter</ion-option>
            </ion-select>
          </ion-item>
      </ion-list> -->

      <button ion-button color="danger" class="itemBtn" outline (click)="addToCart(object)">
          <ion-icon name="cart"> add to cart</ion-icon>
      </button>
      <button ion-button color="primary" class="itemBtn" outline>
          <ion-icon name="heart-outline"> save later</ion-icon>
      </button>
    </ion-card>

    <!-- <ion-list class="details" *ngFor="let product of productDetails" (click)="toggleDiv(product)">
      <ion-list-header no-lines>
        <ion-icon item-right [name]="product.icon"></ion-icon>
        <span>Details</span>
      </ion-list-header>
      <ion-item *ngIf="product.showDetails">
        <h5 class="item-details">Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{product.title}}</h5>
        <h5 class="item-details">Rating &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{product.average_rating}}</h5>
      </ion-item>
    </ion-list> -->

      <!-- <ion-footer>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="bottom_bar">
                  <button ion-button block icon-left color="topbar" class="amt-btn" (click)="addToCart(object)">
                    <ion-icon name="basket">&nbsp; add to cart</ion-icon>
                  </button>
                </div>
              </ion-col>
              <ion-col>
                <div class="bottom_bar">
                  <button class="amt-btn save" ion-button>
                    <ion-icon name="ios-heart-outline"> &nbsp; save</ion-icon>
                  </button>
                  </div>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-footer> -->

</ion-content>
